<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>WSL4CC: Web Service Layer for Cloud Connector</display-name>
  
  <filter>
    <filter-name>Wsl4ccScopeFilter</filter-name>
    <display-name>OAuth2 scope definition for using WSL4CC</display-name>
    <filter-class>com.sap.cloud.security.oauth2.OAuthAuthorizationFilter</filter-class>
    <init-param>
      <param-name>scope</param-name>
      <param-value>wsl4cc-scope</param-value>
    </init-param>
    <init-param>
      <param-name>no-session</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Wsl4ccScopeFilter</filter-name>
    <url-pattern>/destinations/*</url-pattern>
  </filter-mapping>
  
  <login-config>
  	<auth-method>OAUTH</auth-method>
  </login-config>
</web-app>
